.container {
  display: grid;
  gap: var(--gap-xs);
  grid-template-columns: repeat(8, 1fr);
}
@media screen and (max-width: 1000px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 500px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 320px) {
  .container {
    grid-template-columns: 1fr;
  }
}
