:root {
    --color-uncommon: #00FF00;
    --color-rare: #0000FF;
    --color-epic: #FF00FF;
    --color-legendary: #FF7700;
    --font-family: "Inter", sans-serif;
    --font-size-b: 0.625rem;
    --font-size-xxs: 0.25rem;
    --font-size-xs: 0.5rem;
    --font-size-s: 0.75rem;
    --font-size-m: 1rem;
    --font-size-l: 1.25rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 1.75rem;
    --font-size-3xl: 2rem;
    --gap-b: 0.625rem;
    --gap-xxs: 0.25rem;
    --gap-xs: 0.5rem;
    --gap-s: 0.75rem;
    --gap-m: 1rem;
    --gap-l: 1.25rem;
    --gap-xl: 1.5rem;
    --gap-xxl: 1.75rem;
    --gap-3xl: 2rem;
    --margin-b: 0.625rem;
    --margin-xxs: 0.25rem;
    --margin-xs: 0.5rem;
    --margin-s: 0.75rem;
    --margin-m: 1rem;
    --margin-l: 1.25rem;
    --margin-xl: 1.5rem;
    --margin-xxl: 1.75rem;
    --margin-3xl: 2rem;
    --padding-b: 0.625rem;
    --padding-xxs: 0.25rem;
    --padding-xs: 0.5rem;
    --padding-s: 0.75rem;
    --padding-m: 1rem;
    --padding-l: 1.25rem;
    --padding-xl: 1.5rem;
    --padding-xxl: 1.75rem;
    --padding-3xl: 2rem;
}